@import './styles/theme.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

a {
  color: inherit;
}

button {
  border-radius: 8px;
  border: none;
}
